/* Základné štýlovanie */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef;
}

#gameArea {
  max-width: 1024px;
  max-height: 1024px;
  width: 90vw; /* Šírka je 90% z šírky viewportu */
  height: 90vw; /* Výška je 90% z šírky viewportu */
  aspect-ratio: 1 / 1; /* Udržuje štvorcový pomer strán */
  box-sizing: border-box; /* Uistite sa, že hranice a padding sú zahrnuté v šírke/výške */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover; /* Uistite sa, že pozadie sa zobrazuje celé bez roztiahnutia */
  background-repeat: no-repeat; /* Neopakovanie pozadia */
}

#castButton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* padding: 20px 30px; */
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5em;
}

#menuButton {
  position: absolute;
  top: 10px;
  right: 10px;
}
#shopButton {
  position: absolute;
  top: 10px;
  left: 10px;
}
.info-panel {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255,0.9);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  z-index: 10; /* Ensure it's above other items */
}
#inventoryButton {
  position: absolute;
  left: 10px;
  bottom: 10px;
  z-index: 10; /* Ensure it's above other items */
}
#inventoryModal, #shopModal {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1000; /* Ensure it's above other items */
}
.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;  /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to center */
  width: 80%; /* Or any desired width */
  max-width: 500px; /* Maximum width */
  background: white; /* Background color */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Optional: Shadow for modal */
  z-index: 1000; /* Ensure it's above other elements */
}

table {
  width: 100%; /* Šířka tabulky */
  border-collapse: collapse; /* Odebrat dvojité okraje */
}

/* Styly pro hlavičky tabulky */
th {
  background-color: #f2f2f2; /* Barva pozadí pro hlavičky */
  padding: 8px; /* Odsazení okolo textu */
  text-align: center; /* Vycentrování textu */
  font-weight: bold; /* Tučné písmo */
}

/* Styly pro buňky tabulky */
td {
  padding: 8px; /* Odsazení okolo textu */
  text-align: center; /* Vycentrování textu */
  vertical-align: middle; /* Vertikální vycentrování */
  border: 1px solid #ddd; /* Okraje buněk */
}

/* Volitelné: Styly pro řádky tabulky při najetí kurzoru */
tr:hover {
  background-color: #f5f5f5;
}

#menu {
  display: none;
  /* Skryjeme menu na začiatku */
  position: fixed;
  /* Aby bolo menu vždy viditeľné */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  /* Aby bolo menu nad ostatnými prvkami */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-large {
  width: 15rem;
  margin-bottom: 0.2rem;
}

#gameControlsModal {
  display: none;
  position: fixed;
  width: 50%;
  height: 80%;
  background-color: rgba(255, 255, 255);
  z-index: 1001;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#closeGameControlsModal {
  height: 1rem;
  width: 1rem;
  background: red;
}

#playerDataSideBar {
  width: 10rem;
}

canvas {
  border: 1px solid black;
  display: block;
  margin: auto;
}
.fishing-marker {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
  animation: pulse 2s infinite;
}

#fish {
  width: 10px;
  height: 10px;
  background-color: #8a2d2d;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: none;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

#holdProgressContainer {
  text-align: center; /* Centrování progress baru */
}

#holdProgress {
  width: 80%; /* Šířka progress baru */
  height: 20px; /* Výška progress baru */
  margin: 0 auto; /* Centrování v rámci kontejneru */
}

.btn-throw {
  position: absolute;
  right: 10px;  /* Alebo akýkoľvek iný odstup */
  bottom: 10px; /* Alebo akýkoľvek iný odstup */
  /* ... ďalšie štýly ... */
}
@media screen and (min-width: 600px) {
  #throwButton {
    display: none; /* Skryje tlačidlo na desktopových zariadeniach */
  }
}

/* Štýly pre mobilné zariadenia */
@media screen and (max-width: 599px) {
  .btn-throw {
    position: absolute;
    right: 10px;
    bottom: 10px;
    /* ... rovnaké štýly ako má castButton ... */
  }
}

@media (max-width: 1024px) {
  #gameArea {
    width: 90vw; /* Alebo iný percentuálny podiel, prípadne vhodnú veľkosť */
    height: 90vw; /* Udržuje štvorcový pomer strán */
  }
}
@media screen and (min-width: 1025px) {
  #throwButton {
    display: none;
  }
}

@media (min-width: 1025px) {
  #gameArea {
    width: 1024px; /* Pevná šírka 1024px */
    height: 1024px; /* Pevná výška 1024px */
  }
}